/* Styles for every student answer report */

/* -------------------
	Structure
   ------------------- */

body, div, table, td, tr, col, header, section, footer,
span,label, input,  a, strong, em, h1, h2, h3, h4 {
	box-sizing: border-box;
	font-size: .8rem;
	margin: 0;
	padding: 0;
}

html {width: 100%;}

body {
	width: 8.5in;
	height: 11in;
	border: black solid .1rem;
	padding: .4in;
}

header {
	text-align: center;
	padding: .2rem;
}

header h1, header span { font-size: 1.2rem; }

select {
	margin: .2rem;
	font-size: 1rem;
	margin-right: -2rem;
}

/* Makes text appear centered */
label { line-height: 1.2rem; }

section {
	width: 100%;
	margin: .2rem 0;
	padding-left: .1rem;
	clear: both;
}

input {
	height: 1.2rem;
}

.student-info {
	height: 1.5rem;
	margin-bottom: .2rem;
}

.student-data {
	display: inline-block;
	float: left;
	text-align: center;
}

/* Each individual widths */
/* Margins + widths must add up to 100% */
.student-name { width: 34%; margin-right: 2%; }
.student-grad-year {
	width: 15%;
	margin-right: 3%;
	text-align: left;
}
.student-start-date { width: 23%; margin-right: 2%; }
.placeholder { width: 20%; }

/* Widths based on visual check */
.student-name input { width: 74%; }
.student-grad-year input { width: 42%; }
.student-start-date input { width: 65%; }
.placeholder input { width: 65%; }

.student-data:last-child {
	margin: 0;
	/* Will always stay to the right */
	float: right;
}

input {
	width: 65%;
	text-align: center;
}

.student-info input { float: right; }

table {
	width: 100%;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

tr { vertical-align: top; }

/* -------------------
	Testing
   ------------------- */

td, tr, thead, th {
	padding: .2rem;
	margin: .2rem;
	border: black solid .1rem;
}

/*.q-number { width: 25%; }
.actual-answer { width: 25%; }
.student-answer { width: 50%; }*/


/*.reading { width: 37.5%; }
.writing { width: 25%; }
.math { width: 37.5%; }*/

/* -------------------
	Function
   ------------------- */

/* Testing */
.flipped {
	/*-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);*/

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	/*-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;*/

	/* Should be unset in IE9+ I think. */
	/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/

	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	filter: none; /*Mandatory for IE9 to show the vertical text correctly*/
}

.text-spacer { color: rgba(255, 255, 255, 0) }

/* -------------------
	Skin
   ------------------- */

h1 {
	text-decoration: underline;
	font-weight: bold;
}

.student-name, .student-start-date {
	/* Make up for double border spacing */
	margin-top: -.2rem;
	border: black double .2rem;
}

input, select {
	font-family: inherit;
	border: none;
	background-color: rgb(235, 235, 235);
}

input:hover, input:focus, select:hover, select:focus {
	background-color: rgb(219, 236, 234);
}

/*.test-data, td, .placeholder {
	border: black solid .1rem;
}

table table td:first-child {
	border-left: none;
}

table table td:last-child {
	border-right: none;
}

.section-num {
	font-weight: bold;
}*/
