
td.test-sec
  table.reading-sec-first
    tr.section-number
      th(colspan='3') section 2
    tr.section-info
      td(colspan='3') p. #, # min.
    tr
      th.flipped.q-number Q #
      th.flipped.actual-answer Q #
      th.flipped.student-answer Q #
    tr
      td 1
      td.text-spacer D
      td.text-spacer DD
